:global(#root) {
  height: 100%;
  width: 100%;
}

.MainPage {
  display: flex;
  flex-direction: row;
  gap: 5%;
  justify-content: center;
  height: 100%;
  padding: 30px;
}

.MainPage .infoContainer {
  backdrop-filter: blur(20px);
  background: linear-gradient(151deg, rgba(255, 255, 255, 0.24) 0%, rgba(255, 255, 255, 0.06) 100%);
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 32px;
}

.MainPage .tab {
  color: var(--text);
  font-weight: 700;
}
