# 1. 复制此文件并重命名为 .env.local
# 2. 更新下面的环境变量。

# 必需设置
# ################# 
# 如果使用 LiveKit Cloud，API 密钥和密钥可从 Cloud 控制台生成。
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
# 指向 LiveKit 服务器的 URL。(示例: `wss://my-livekit-project.livekit.cloud`)
LIVEKIT_URL=


# 可选设置
# ################# 
# 录制
# S3_KEY_ID=
# S3_KEY_SECRET=
# S3_ENDPOINT=
# S3_BUCKET=
# S3_REGION=

# 公共
# 使用 LiveKit Cloud 时取消注释设置菜单，将启用 Krisp 降噪功能。
# NEXT_PUBLIC_SHOW_SETTINGS_MENU=true
# NEXT_PUBLIC_LK_RECORD_ENDPOINT=/api/record

# 可选，将日志发送到 Datadog
# NEXT_PUBLIC_DATADOG_CLIENT_TOKEN=client-token
# NEXT_PUBLIC_DATADOG_SITE=datadog-site
