.ControlBarContainer {
  position: relative;
  height: var(--lk-control-bar-height);
  border-top: none;
}

.ControlBarRightButtonGroup {
  position: absolute;
  right: 0;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.chatToggleButton {
  background-color: transparent;
}
