.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.content :global(.SignIn.center) {
  background: var(--background);
  padding: 24px 11px 14px 11px;
  border-radius: 10px;
  position: unset;
}

@media (min-width: 769px) {
  .content :global(.SignIn.center) {
    min-width: 700px;
  }
}

@media (max-width: 768px) {
  .content :global(.SignIn.center) {
    height: 100%;
    border-radius: unset;
  }
}